In [1]:
# Load packages
import numpy as np
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
# set the path to be 'C:\Users\angel\Documents\Economics\Research\Banking Project\data\raw\Call Reports\FRY9\_extracted':
path = 'C:\\Users\\angel\\Documents\\Economics\\Research\\Banking Project\\data\\raw\\Call Reports\\FRY9\\_extracted'

# Set path to be the directory:
os.chdir(path)

In [36]:
# enter the folder 'BHCF20240630' and read the txt file:
test = pd.read_csv('BHCF20220630.txt', sep='^')

C:\Users\angel\AppData\Local\Temp\ipykernel_30012\2526733781.py:2: DtypeWarning: Columns (2191,2194,2195,2196,2198,2201,2202,2235,2244,2254,2255,2256,2257,2258,2259,2260,2262,2263,2264,2265,2266,2267,2268,2269,2270,2273,2274,2276,2277,2280,2281,2284,2286,2287,2303,2304,2305,2306,2307,2308,2309,2318,2319,2322,2323,2324,2325) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv('BHCF20220630.txt', sep='^')

In [40]:
test[test['BHBC4421']>0]

,RSSD9001,RSSD9999,RSSD9007,RSSD9008,RSSD9132,RSSD9032,RSSD9146,BHBC3368,BHBC3402,BHBC3516,...,TEXTB056,TEXTC497,TEXTFT29,TEXTFT31,RSSD4087,RSSD9220,TEXTC703,TEXTC708,TEXTC714,TEXTC715
39,1037003,20220630,20180719,99991231,551111,2,2.0,NaN,NaN,NaN,...,NaN,http://ir.mtb.com,NaN,NaN,WWW.MTB.COM,142032399,NaN,NaN,NaN,NaN
297,1066713,20220630,20210810,99991231,551111,10,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,WWW.IR.FIRSTSUNCB.COM,80202,NaN,NaN,NaN,NaN
488,1094828,20220630,20200215,99991231,551111,8,1.0,3261814.0,2949814.0,2314085.0,...,NaN,NaN,NaN,NaN,WWW.SIMMONSBANK.COM,71601,NaN,NaN,NaN,NaN
977,1132449,20220630,20190102,99991231,551111,1,1.0,28072770.0,5208524.0,22664089.0,...,NaN,www.citizensbank.com,NaN,NaN,WWW.CITIZENSBANK.COM,2903,NaN,NaN,NaN,NaN
1672,1404799,20220630,20151231,20240515,551111,2,1.0,1895986.0,1771126.0,1116566.0,...,NaN,NaN,NaN,NaN,WWW.LAKELANDBANK.COM,7438,NaN,NaN,NaN,NaN
2346,2571120,20220630,20180419,99991231,551112,3,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,WWW.COLUMBIABANKONLINE.COM,07410,NaN,NaN,NaN,NaN

In [5]:
# For each folder in this path, load the .txt data and append it to the list of dataframes:
data = []
for folder in os.listdir():
    for file in os.listdir(folder):
        data.append(pd.read_csv(folder + '\\' + file, sep='\t'))

['BHCF20000331',
 'BHCF20000630',
 'BHCF20000930',
 'BHCF20001231',
 'BHCF20010331',
 'BHCF20010630',
 'BHCF20010930',
 'BHCF20011231',
 'BHCF20020331',
 'BHCF20020630',
 'BHCF20020930',
 'BHCF20021231',
 'BHCF20030331',
 'BHCF20030630',
 'BHCF20030930',
 'BHCF20031231',
 'BHCF20040331',
 'BHCF20040630',
 'BHCF20040930',
 'BHCF20041231',
 'BHCF20050331',
 'BHCF20050630',
 'BHCF20050930',
 'BHCF20051231',
 'BHCF20060331',
 'BHCF20060630',
 'BHCF20060930',
 'BHCF20061231',
 'BHCF20070331',
 'BHCF20070630',
 'BHCF20070930',
 'BHCF20071231',
 'BHCF20080331',
 'BHCF20080630',
 'BHCF20080930',
 'BHCF20081231',
 'BHCF20090331',
 'BHCF20090630',
 'BHCF20090930',
 'BHCF20091231',
 'BHCF20100331',
 'BHCF20100630',
 'BHCF20100930',
 'BHCF20101231',
 'BHCF20110331',
 'BHCF20110630',
 'BHCF20110930',
 'BHCF20111231',
 'BHCF20120331',
 'BHCF20120630',
 'BHCF20120930',
 'BHCF20121231',
 'BHCF20130331',
 'BHCF20130630',
 'BHCF20130930',
 'BHCF20131231',
 'BHCF20140331',
 'BHCF20140630',
 'BHCF20140930',
 'BHCF20141231',
 'BHCF20150331',
 'BHCF20150630',
 'BHCF20150930',
 'BHCF20151231',
 'BHCF20160331',
 'BHCF20160630',
 'BHCF20160930',
 'BHCF20161231',
 'BHCF20170331',
 'BHCF20170630',
 'BHCF20170930',
 'BHCF20171231',
 'BHCF20180331',
 'BHCF20180630',
 'BHCF20180930',
 'BHCF20181231',
 'BHCF20190331',
 'BHCF20190630',
 'BHCF20190930',
 'BHCF20191231',
 'BHCF20200331',
 'BHCF20200630',
 'BHCF20200930',
 'BHCF20201231',
 'BHCF20210331',
 'BHCF20210630',
 'BHCF20210930',
 'BHCF20211231',
 'BHCF20220331',
 'BHCF20220630',
 'BHCF20220930',
 'BHCF20221231',
 'BHCF20230331',
 'BHCF20230630',
 'BHCF20230930',
 'BHCF20231231',
 'BHCF20240331',
 'BHCF20240630']