In [17]:
# Nice packages to spatial stuff we thought we would need 
# import pygris as pg 
# import geopandas as gpd 

import pandas as pd
import os

In [25]:
# Load the SOD file into a pandas DataFrame:
path = 'C:/Users/angel/Documents/Economics/Research/Banking Project/data/intermediate/sod'

# Set path to be the directory:
os.chdir(path)

In [29]:
# Read the list of county codes:
list = pd.read_excel('qcew-county-msa-csa-crosswalk.xlsx', sheet_name='Feb. 2013 Crosswalk')
list.rename(columns={'County Code': 'STCNTYBR'}, inplace=True)

In [37]:
# Read the sod file into a DataFrame:
sod = pd.read_csv('sod_data.csv')

C:\Users\angel\AppData\Local\Temp\ipykernel_28552\1967836314.py:2: DtypeWarning: Columns (13,28,50,59,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  sod = pd.read_csv('sod_data.csv')

In [38]:
# Merge the list of county codes with the sod data:
sod = pd.merge(sod, list, on='STCNTYBR', how='left')

In [39]:
sod

,YEAR,CERT,BRNUM,UNINUMBR,NAMEFULL,ADDRESBR,CITYBR,CNTYNAMB,STALPBR,ZIPBR,...,STCNTY,STNAME,USA,Metrobr,Microbr,County Title,MSA Code,MSA Title,CSA Code,CSA Title
0,1994,8,82,248807.0,Fleet Bank of Maine,1 Center Street,Machias,Washington,ME,4654.0,...,23005,Maine,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,8,96,229268.0,Fleet Bank of Maine,10 Goding Avenue,Lincoln,Penobscot,ME,4457.0,...,23005,Maine,1,NaN,NaN,"Penobscot County, Maine",C1262,"Bangor, ME MSA",NaN,NaN
2,1994,8,83,248808.0,Fleet Bank of Maine,101 South Main Street,Old Town,Penobscot,ME,4468.0,...,23005,Maine,1,NaN,NaN,"Penobscot County, Maine",C1262,"Bangor, ME MSA",NaN,NaN
3,1994,8,124,228077.0,Fleet Bank of Maine,105 Main Street,Winthrop,Kennebec,ME,4364.0,...,23005,Maine,1,NaN,NaN,"Kennebec County, Maine",C1230,"Augusta-Waterville, ME MicroSA",NaN,NaN
4,1994,8,113,242581.0,Fleet Bank of Maine,1058 Brighton Avenue,Portland,Cumberland,ME,4102.0,...,23005,Maine,1,NaN,NaN,"Cumberland County, Maine",C3886,"Portland-South Portland, ME MSA",CS438,"Portland-Lewiston-South Portland, ME CSA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2670170,2023,91325,11,494878.0,Cibc National Trust Company,"3 Embarcadero Ctr, Ste 1600",San Francisco,San Francisco,CA,94111.0,...,13121,Georgia,1,NaN,NaN,"San Francisco County, California",C4186,"San Francisco-Oakland-Hayward, CA MSA",CS488,"San Jose-San Francisco-Oakland, CA CSA"
2670171,2023,91325,0,18316.0,Cibc National Trust Company,3290 Northside Pkwy Nw,Atlanta,Fulton,GA,30327.0,...,13121,Georgia,1,NaN,NaN,"Fulton County, Georgia",C1206,"Atlanta-Sandy Springs-Roswell, GA MSA",CS122,"Atlanta--Athens-Clarke County--Sandy Springs, ..."
2670172,2023,91325,4,494871.0,Cibc National Trust Company,"401 Congress Ave, Ste 2450",Austin,Travis,TX,78701.0,...,13121,Georgia,1,NaN,NaN,"Travis County, Texas",C1242,"Austin-Round Rock, TX MSA",NaN,NaN
2670173,2023,91325,10,494877.0,Cibc National Trust Company,"520 Newport Center Dr, Ste 700",Newport Beach,Orange,CA,92660.0,...,13121,Georgia,1,NaN,NaN,"Orange County, California",C3108,"Los Angeles-Long Beach-Anaheim, CA MSA",CS348,"Los Angeles-Long Beach, CA CSA"
2670174,2023,91325,14,570190.0,Cibc National Trust Company,"525 Okeechobee Blvd, Ste 1630",West Palm Beach,Palm Beach,FL,33401.0,...,13121,Georgia,1,NaN,NaN,"Palm Beach County, Florida",C3310,"Miami-Fort Lauderdale-West Palm Beach, FL MSA",CS370,"Miami-Fort Lauderdale-Port St. Lucie, FL CSA"