## Preamble

In [1]:
# Load packages
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path = 'C:/Users/angel/Documents/Economics/Research/Banking Project/data/intermediate/call_reports_wrds/'

# set path as working directory:
os.chdir(path)

In [3]:
# Load data
riad = pd.read_csv('RIAD_legacy.csv')
rcfd = pd.read_csv('RCFD_legacy.csv')
rcfa = pd.read_csv('RCFA.csv')
rcon = pd.read_csv('RCON.csv')
rcfn = pd.read_csv('RCFN.csv')

In [4]:
# Rename column RSSD9999 to Date:
riad.rename(columns={'RSSD9999':'Date', 'RSSD9010': 'Financial Institution Name', 
                     'RSSD9001': 'IDRSSD'}, inplace=True)

rcfd.rename(columns={'RSSD9999':'Date', 'RSSD9010': 'Financial Institution Name', 
                     'RSSD9001': 'IDRSSD'}, inplace=True)

rcfa.rename(columns={'RSSD9999':'Date', 'RSSD9017': 'Financial Institution Name', 
                     'RSSD9001': 'IDRSSD'}, inplace=True)

rcfn.rename(columns={'RSSD9999':'Date', 'RSSD9017': 'Financial Institution Name', 
                     'RSSD9001': 'IDRSSD'}, inplace=True)

rcon.rename(columns={'RSSD9999':'Date', 'RSSD9017': 'Financial Institution Name', 
                     'RSSD9001': 'IDRSSD'}, inplace=True)

In [5]:
riad['Date'] = pd.to_datetime(riad['Date'], format='%Y%m%d')
rcfd['Date'] = pd.to_datetime(rcfd['Date'], format='%Y%m%d')
rcfa['Date'] = pd.to_datetime(rcfa['Date'], format='%Y-%m-%d')
rcfn['Date'] = pd.to_datetime(rcfn['Date'], format='%Y-%m-%d')
rcon['Date'] = pd.to_datetime(rcon['Date'], format='%Y-%m-%d')

## Testing Assets

In [ ]:
rcfd[(rcfd['IDRSSD']==802866) & (rcfd['Date'].dt.year>2000)][['Date', 'Financial Institution Name','RCFD2170']]

In [ ]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year>2000)][['Date', 'Financial Institution Name','RCFD2170']]

## Testing Loans

In [ ]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year==2010)][['Date', 'IDRSSD', 'RCFD1400']]

In [ ]:
rcfd[(rcfd['IDRSSD']==802866) & (rcfd['Date'].dt.year>2010)][['Date', 'IDRSSD', 'RCFD1400']]

## Testing Deposits

In [ ]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year==2010) & (rcfd['Date'].dt.quarter==4)][['Date', 'Financial Institution Name', 'RCFD2200']]

In [ ]:
test = pd.merge(rcon, rcfn, on=['IDRSSD', 'Financial Institution Name', 'Date'], how='inner')
test['RCFD2200'] = test['RCON2200'].fillna(0) + test['RCFN2200'].fillna(0)
test[(test['IDRSSD']==480228) & (test['Date'].dt.year==2010) & (test['Date'].dt.quarter==4)][['Date', 'Financial Institution Name', 'RCON2200', 'RCFN2200', 'RCFD2200']]

In [ ]:
test

In [ ]:
rcfd[rcfd['Date'].dt.year>2000][['IDRSSD', 'Date', 'Financial Institution Name','RCFD2200']]

## Testing FedFunds Purchased

In [ ]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year<2002)][['Date', 'Financial Institution Name', 'RCFD2800']]

In [ ]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year>2001)][['Date', 'Financial Institution Name', 'RCFDB993', 'RCFDB995']]

In [ ]:
rcfd[(rcfd['IDRSSD']==802866) ][['Date', 'Financial Institution Name', 'RCFDB993', 'RCFDB995']]

## Testing Loans Non-Accrual

In [ ]:
rcfd[(rcfd['IDRSSD']==480228)][['Date', 'Financial Institution Name', 'RCFD1403']]

In [ ]:
rcfd[(rcfd['IDRSSD']==802866)][['Date', 'Financial Institution Name', 'RCFD1403']]

## Test Loans Past Due 90 Days

In [ ]:
rcfd[(rcfd['IDRSSD']==802866)][['Date', 'Financial Institution Name', 'RCFD1407']]

In [ ]:
rcfd[(rcfd['IDRSSD']==480228)][['Date', 'Financial Institution Name', 'RCFD1407']]

## Testing Tier 1 Capital

In [6]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year>1995) 
                              & (rcfd['Date'].dt.year<2015)][['Date', 'Financial Institution Name','RCFD8274']]

             Date Financial Institution Name     RCFD8274
596938 1996-03-31             NATIONSBANK NA    4822554.0
596939 1996-06-30             NATIONSBANK NA    4874867.0
596940 1996-09-30             NATIONSBANK NA    4845849.0
596941 1996-12-31             NATIONSBANK NA    5137498.0
596942 1997-03-31             NATIONSBANK NA    5814025.0
...           ...                        ...          ...
597009 2013-12-31            BANK OF AMER NA  125886000.0
597010 2014-03-31            BANK OF AMER NA          NaN
597011 2014-06-30            BANK OF AMER NA          NaN
597012 2014-09-30            BANK OF AMER NA          NaN
597013 2014-12-31            BANK OF AMER NA          NaN

[76 rows x 3 columns]

In [7]:
rcfa[(rcfa['IDRSSD']==480228) & (rcfa['Date'].dt.year>2013)][['Date', 'Financial Institution Name','RCFA8274']]

             Date             Financial Institution Name     RCFA8274
228873 2014-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  125189000.0
228874 2014-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  125964000.0
228875 2014-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  126065000.0
228876 2014-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  145150000.0
228877 2015-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  145042000.0
228878 2015-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  144543000.0
228879 2015-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  144880000.0
228880 2015-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  144869000.0
228881 2016-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  149537000.0
228882 2016-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  151078000.0
228883 2016-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  152976000.0
228884 2016-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  149755000.0
228885 2017-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  147808000.0
228886 2017-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  149759000.0
228887 2017-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  151761000.0
228888 2017-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  150552000.0
228889 2018-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  147645000.0
228890 2018-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  147327000.0
228891 2018-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  146659000.0
228892 2018-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  149824000.0
228893 2019-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  152171000.0
228894 2019-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  154703000.0
228895 2019-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  154045000.0
228896 2019-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  154626000.0
228897 2020-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  153089000.0
228898 2020-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  156513000.0
228899 2020-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  160013000.0
228900 2020-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  164593000.0
228901 2021-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  166685000.0
228902 2021-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  170512000.0
228903 2021-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  173710000.0
228904 2021-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  182526000.0
228905 2022-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  179640000.0
228906 2022-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  182767000.0
228907 2022-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  185255000.0
228908 2022-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  181089000.0
228909 2023-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  185410000.0
228910 2023-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  185255000.0
228911 2023-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  184779000.0
228912 2023-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  187621000.0
228913 2023-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  187621000.0

In [10]:
rcfd[(rcfd['IDRSSD']==802866) & (rcfd['Date'].dt.year>1995) 
                              & (rcfd['Date'].dt.year<2016)][['Date', 'Financial Institution Name','RCFD8274']]

              Date Financial Institution Name   RCFD8274
1000499 1996-03-31          SILICON VALLEY BK   105528.0
1000500 1996-06-30          SILICON VALLEY BK   113045.0
1000501 1996-09-30          SILICON VALLEY BK   117313.0
1000502 1996-12-31          SILICON VALLEY BK   123916.0
1000503 1997-03-31          SILICON VALLEY BK   130121.0
...            ...                        ...        ...
1000574 2014-12-31          SILICON VALLEY BK  2379992.0
1000575 2015-03-31          SILICON VALLEY BK        NaN
1000576 2015-06-30          SILICON VALLEY BK        NaN
1000577 2015-09-30          SILICON VALLEY BK        NaN
1000578 2015-12-31          SILICON VALLEY BK        NaN

[80 rows x 3 columns]

In [8]:
rcfa[(rcfa['IDRSSD']==802866) & (rcfa['Date'].dt.year>2013)][['Date', 'Financial Institution Name','RCFA8274']]

             Date Financial Institution Name    RCFA8274
382087 2014-03-31        SILICON VALLEY BANK         NaN
382088 2014-06-30        SILICON VALLEY BANK         NaN
382089 2014-09-30        SILICON VALLEY BANK         NaN
382090 2014-12-31        SILICON VALLEY BANK         NaN
382091 2015-03-31        SILICON VALLEY BANK   2793661.0
382092 2015-06-30        SILICON VALLEY BANK   2866385.0
382093 2015-09-30        SILICON VALLEY BANK   2951333.0
382094 2015-12-31        SILICON VALLEY BANK   3043436.0
382095 2016-03-31        SILICON VALLEY BANK   3131513.0
382096 2016-06-30        SILICON VALLEY BANK   3228533.0
382097 2016-09-30        SILICON VALLEY BANK   3307862.0
382098 2016-12-31        SILICON VALLEY BANK   3397232.0
382099 2017-03-31        SILICON VALLEY BANK   3488518.0
382100 2017-06-30        SILICON VALLEY BANK   3591512.0
382101 2017-09-30        SILICON VALLEY BANK   3719668.0
382102 2017-12-31        SILICON VALLEY BANK   3787988.0
382103 2018-03-31        SILICON VALLEY BANK   3973231.0
382104 2018-06-30        SILICON VALLEY BANK   4153517.0
382105 2018-09-30        SILICON VALLEY BANK   4364394.0
382106 2018-12-31        SILICON VALLEY BANK   4604689.0
382107 2019-03-31        SILICON VALLEY BANK   4710334.0
382108 2019-06-30        SILICON VALLEY BANK   4852222.0
382109 2019-09-30        SILICON VALLEY BANK   4775400.0
382110 2019-12-31        SILICON VALLEY BANK   4949393.0
382111 2020-03-31        SILICON VALLEY BANK   5106964.0
382112 2020-06-30        SILICON VALLEY BANK   5302170.0
382113 2020-09-30        SILICON VALLEY BANK   5568395.0
382114 2020-12-31        SILICON VALLEY BANK   6530167.0
382115 2021-03-31        SILICON VALLEY BANK   8809763.0
382116 2021-06-30        SILICON VALLEY BANK  10355368.0
382117 2021-09-30        SILICON VALLEY BANK  13138444.0
382118 2021-12-31        SILICON VALLEY BANK  14622000.0
382119 2022-03-31        SILICON VALLEY BANK  15124000.0
382120 2022-06-30        SILICON VALLEY BANK  16349000.0
382121 2022-09-30        SILICON VALLEY BANK  16957000.0
382122 2022-12-31        SILICON VALLEY BANK  16995000.0

## Testing Risk-Weighted Assets

In [11]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year>1995) 
                              & (rcfd['Date'].dt.year<2016)][['Date', 'Financial Institution Name','RCFDA223']]

             Date Financial Institution Name      RCFDA223
596938 1996-03-31             NATIONSBANK NA  5.983080e+07
596939 1996-06-30             NATIONSBANK NA  6.116573e+07
596940 1996-09-30             NATIONSBANK NA  6.039687e+07
596941 1996-12-31             NATIONSBANK NA  6.816610e+07
596942 1997-03-31             NATIONSBANK NA  7.212630e+07
...           ...                        ...           ...
597013 2014-12-31            BANK OF AMER NA  1.104528e+09
597014 2015-03-31            BANK OF AMER NA           NaN
597015 2015-06-30            BANK OF AMER NA           NaN
597016 2015-09-30            BANK OF AMER NA           NaN
597017 2015-12-31            BANK OF AMER NA           NaN

[80 rows x 3 columns]

In [13]:
rcfa[(rcfa['IDRSSD']==480228) & (rcfa['Date'].dt.year>2013)][['Date', 'Financial Institution Name','RCFAA223']]

             Date             Financial Institution Name      RCFAA223
228873 2014-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.014843e+09
228874 2014-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.002759e+09
228875 2014-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.009668e+09
228876 2014-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.104528e+09
228877 2015-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.151159e+09
228878 2015-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.157032e+09
228879 2015-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.160684e+09
228880 2015-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.182953e+09
228881 2016-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.185397e+09
228882 2016-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.164472e+09
228883 2016-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.171834e+09
228884 2016-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.175768e+09
228885 2017-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.174473e+09
228886 2017-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.165879e+09
228887 2017-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.181201e+09
228888 2017-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.200991e+09
228889 2018-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.205875e+09
228890 2018-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.203683e+09
228891 2018-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.204938e+09
228892 2018-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.194874e+09
228893 2019-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.204305e+09
228894 2019-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.220004e+09
228895 2019-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.229484e+09
228896 2019-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.240934e+09
228897 2020-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.288338e+09
228898 2020-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.234689e+09
228899 2020-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.212413e+09
228900 2020-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.220976e+09
228901 2021-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.230443e+09
228902 2021-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.269918e+09
228903 2021-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.287932e+09
228904 2021-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.351917e+09
228905 2022-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.375274e+09
228906 2022-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.393379e+09
228907 2022-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.375626e+09
228908 2022-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.385695e+09
228909 2023-03-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.389050e+09
228910 2023-06-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.394230e+09
228911 2023-09-30  BANK OF AMERICA, NATIONAL ASSOCIATION  1.387038e+09
228912 2023-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.394763e+09
228913 2023-12-31  BANK OF AMERICA, NATIONAL ASSOCIATION  1.394763e+09

In [14]:
rcfd[(rcfd['IDRSSD']==802866) & (rcfd['Date'].dt.year>1995) 
                              & (rcfd['Date'].dt.year<2016)][['Date', 'Financial Institution Name','RCFDA223']]

              Date Financial Institution Name    RCFDA223
1000499 1996-03-31          SILICON VALLEY BK   1018561.0
1000500 1996-06-30          SILICON VALLEY BK   1159387.0
1000501 1996-09-30          SILICON VALLEY BK   1156287.0
1000502 1996-12-31          SILICON VALLEY BK   1295019.0
1000503 1997-03-31          SILICON VALLEY BK   1349827.0
...            ...                        ...         ...
1000574 2014-12-31          SILICON VALLEY BK  21457878.0
1000575 2015-03-31          SILICON VALLEY BK         NaN
1000576 2015-06-30          SILICON VALLEY BK         NaN
1000577 2015-09-30          SILICON VALLEY BK         NaN
1000578 2015-12-31          SILICON VALLEY BK         NaN

[80 rows x 3 columns]

In [15]:
rcfa[(rcfa['IDRSSD']==802866) & (rcfa['Date'].dt.year>2013)][['Date', 'Financial Institution Name','RCFAA223']]

             Date Financial Institution Name     RCFAA223
382087 2014-03-31        SILICON VALLEY BANK          NaN
382088 2014-06-30        SILICON VALLEY BANK          NaN
382089 2014-09-30        SILICON VALLEY BANK          NaN
382090 2014-12-31        SILICON VALLEY BANK          NaN
382091 2015-03-31        SILICON VALLEY BANK   22602065.0
382092 2015-06-30        SILICON VALLEY BANK   22277020.0
382093 2015-09-30        SILICON VALLEY BANK   23072657.0
382094 2015-12-31        SILICON VALLEY BANK   24300949.0
382095 2016-03-31        SILICON VALLEY BANK   24922140.0
382096 2016-06-30        SILICON VALLEY BANK   25691978.0
382097 2016-09-30        SILICON VALLEY BANK   25909301.0
382098 2016-12-31        SILICON VALLEY BANK   26856850.0
382099 2017-03-31        SILICON VALLEY BANK   27368552.0
382100 2017-06-30        SILICON VALLEY BANK   28515724.0
382101 2017-09-30        SILICON VALLEY BANK   29970913.0
382102 2017-12-31        SILICON VALLEY BANK   31403489.0
382103 2018-03-31        SILICON VALLEY BANK   33396675.0
382104 2018-06-30        SILICON VALLEY BANK   35326565.0
382105 2018-09-30        SILICON VALLEY BANK   36424092.0
382106 2018-12-31        SILICON VALLEY BANK   37104081.0
382107 2019-03-31        SILICON VALLEY BANK   38132316.0
382108 2019-06-30        SILICON VALLEY BANK   38821244.0
382109 2019-09-30        SILICON VALLEY BANK   41597959.0
382110 2019-12-31        SILICON VALLEY BANK   44502150.0
382111 2020-03-31        SILICON VALLEY BANK   46839951.0
382112 2020-06-30        SILICON VALLEY BANK   47838181.0
382113 2020-09-30        SILICON VALLEY BANK   51792822.0
382114 2020-12-31        SILICON VALLEY BANK   61023462.0
382115 2021-03-31        SILICON VALLEY BANK   68125278.0
382116 2021-06-30        SILICON VALLEY BANK   75794585.0
382117 2021-09-30        SILICON VALLEY BANK   89477117.0
382118 2021-12-31        SILICON VALLEY BANK   98214000.0
382119 2022-03-31        SILICON VALLEY BANK  101600000.0
382120 2022-06-30        SILICON VALLEY BANK  106258000.0
382121 2022-09-30        SILICON VALLEY BANK  109132000.0
382122 2022-12-31        SILICON VALLEY BANK  111341000.0

## Testing Other Borrowings

In [23]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year>1984) 
                              & (rcfd['Date'].dt.year<2002)][['Date', 'Financial Institution Name','RCFD2835', 'RCFD3190']]

             Date Financial Institution Name    RCFD2835    RCFD3190
596894 1985-03-31              NCNB NB OF NC    180221.0         NaN
596895 1985-06-30              NCNB NB OF NC    227632.0         NaN
596896 1985-09-30              NCNB NB OF NC    266310.0         NaN
596897 1985-12-31              NCNB NB OF NC    358486.0         NaN
596898 1986-03-31              NCNB NB OF NC    493041.0         NaN
...           ...                        ...         ...         ...
596957 2000-12-31            BANK OF AMER NA  42429000.0  41437000.0
596958 2001-03-31            BANK OF AMER NA         NaN  35821000.0
596959 2001-06-30            BANK OF AMER NA         NaN  32817000.0
596960 2001-09-30            BANK OF AMER NA         NaN  18046000.0
596961 2001-12-31            BANK OF AMER NA         NaN  16601000.0

[68 rows x 4 columns]

In [24]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year>2002)][['Date', 'Financial Institution Name','RCFD2835', 'RCFD3190']]

             Date Financial Institution Name  RCFD2835    RCFD3190
596966 2003-03-31            BANK OF AMER NA       NaN  15528000.0
596967 2003-06-30            BANK OF AMER NA       NaN  27857000.0
596968 2003-09-30            BANK OF AMER NA       NaN  27562018.0
596969 2003-12-31            BANK OF AMER NA       NaN  25745531.0
596970 2004-03-31            BANK OF AMER NA       NaN  36315002.0
...           ...                        ...       ...         ...
597035 2020-06-30            BANK OF AMER NA       NaN  26362000.0
597036 2020-09-30            BANK OF AMER NA       NaN  23558000.0
597037 2020-12-31            BANK OF AMER NA       NaN  23800000.0
597038 2021-03-31            BANK OF AMER NA       NaN  22693000.0
597039 2021-06-30            BANK OF AMER NA       NaN  23374000.0

[74 rows x 4 columns]

## Testing Cash

In [ ]:
rcfd[(rcfd['IDRSSD']==480228)][['Date', 'Financial Institution Name','RCFD0010']]

In [ ]:
rcfd[(rcfd['IDRSSD']==802866)][['Date', 'Financial Institution Name','RCFD0010']]

## Testing Federal Funds Sold

In [27]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year>1983) 
                              & (rcfd['Date'].dt.year<2003)][['Date', 'Financial Institution Name','RCFD1350']]

             Date Financial Institution Name    RCFD1350
596890 1984-03-31              NCNB NB OF NC    534906.0
596891 1984-06-30              NCNB NB OF NC    658005.0
596892 1984-09-30              NCNB NB OF NC    244511.0
596893 1984-12-31              NCNB NB OF NC    324474.0
596894 1985-03-31              NCNB NB OF NC    359832.0
...           ...                        ...         ...
596961 2001-12-31            BANK OF AMER NA  19262000.0
596962 2002-03-31            BANK OF AMER NA         NaN
596963 2002-06-30            BANK OF AMER NA         NaN
596964 2002-09-30            BANK OF AMER NA         NaN
596965 2002-12-31            BANK OF AMER NA         NaN

[76 rows x 3 columns]

In [28]:
rcfd[(rcfd['IDRSSD']==480228) & (rcfd['Date'].dt.year>2001)][['Date', 'Financial Institution Name','RCFDB987', 'RCFDB989']]

             Date Financial Institution Name   RCFDB987     RCFDB989
596962 2002-03-31            BANK OF AMER NA        NaN   15000000.0
596963 2002-06-30            BANK OF AMER NA  6551000.0   13162000.0
596964 2002-09-30            BANK OF AMER NA  4927000.0   13171000.0
596965 2002-12-31            BANK OF AMER NA  5604000.0   13287000.0
596966 2003-03-31            BANK OF AMER NA  5170000.0   12579000.0
...           ...                        ...        ...          ...
597035 2020-06-30            BANK OF AMER NA        NaN  227441000.0
597036 2020-09-30            BANK OF AMER NA        NaN  122088000.0
597037 2020-12-31            BANK OF AMER NA        NaN  101108000.0
597038 2021-03-31            BANK OF AMER NA        NaN   31013000.0
597039 2021-06-30            BANK OF AMER NA        NaN   30915000.0

[78 rows x 4 columns]

## Dean's Variables

In [ ]:
# concatenate the two dataframes:
df = pd.merge(riad, rcfd, on=['Date', 'IDRSSD', 'Financial Institution Name'], how='outer')
df = pd.merge(df, rcfa, on=['Date', 'IDRSSD', 'Financial Institution Name'], how='outer')

In [ ]:
# create a 'Year' column:
df['Year'] = df['Date'].dt.year

# create a 'Quarter' column:
df['Quarter'] = df['Date'].dt.quarter

In [ ]:
df.rename(columns={ # RCFD variables (Balance Sheet):
                'RCFD2170':'Total Assets', 'RCFD1400': 'Loans', 'RCFD2200': 'Deposits', 
                'RCFD1403': 'Loans Non-Accrual', 'RCFD1407':'Loans Past Due 90 Days',
                'RCFD0010': 'Cash', 
                # RIAD variables (Income Statement):
                'RIAD4170':'Interest Exp. Deposits', 
                'RIAD4180': 'Interest Exp. FedFunds', 'RIAD4635': 'Charge Off Loans', 
                'RIAD4605': 'Recovery Loans', 'RIAD4130': 'Total Expenses', 
                'RIAD4217': 'Expenses on premises and fixed assets', 
                'RIAD4135': 'Labor expenses', 'RIAD4079': 'Total Non-interest Income'}, inplace=True)

In [ ]:
df['Interest Income Loans'] = df['RIAD4010'].fillna(0)+df['RIAD4065'].fillna(0)
df['Dividends'] = df['RIAD4470'].fillna(0)+df['RIAD4460'].fillna(0)

In [ ]:
df['Federal Funds Purchased'] = np.where(df['Date'].dt.year < 2002, df['RCFD2800'], df['RCFDB993']+df['RCFDB995'])
df['Tier 1 Capital'] = np.where(df['Date'].dt.year < 2014, df['RCFD8274'], df['RCFA8274'])
df['Risk-Weighted Assets'] = np.where(df['Date'].dt.year < 2014, df['RCFDA223'], df['RCFAA223'])
df['Other Borrowings'] = np.where(df['Date'].dt.year < 2001, df['RCFD2835'], df['RCFD3190'])
df['FedFunds Sold'] = np.where(df['Date'].dt.year < 2002, df['RCFD1350'], df['RCFDB987']+df['RCFDB989'])
df['US Treasury Securities'] = np.where(df['Date'].dt.year < 1994, df['RCFD0400'], df['RCFD0211']+df['RCFD1287'])

In [ ]:
# For 'US Agency Obligations' we need a np.where with 3 time windows (1984-1993, 1994-2008, 2009-2010, 2011-2021):
df['US Agency Obligations'] = np.where(
                            df['Date'].dt.year < 1994, df['RCFD0600'],
                            np.where(
                            df['Date'].dt.year < 2009, 
                            df['RCFD1289'].fillna(0)+df['RCFD1294'].fillna(0)+df['RCFD1293'].fillna(0)+df['RCFD1298'].fillna(0)+
                            df['RCFD1698'].fillna(0)+df['RCFD1702'].fillna(0)+df['RCFD1703'].fillna(0)+df['RCFD1707'].fillna(0)+
                            df['RCFD1714'].fillna(0)+df['RCFD1717'].fillna(0)+df['RCFD1718'].fillna(0)+df['RCFD1732'].fillna(0),
                            np.where(
                            df['Date'].dt.year < 2011, 
                            df['RCFD1289'].fillna(0)+df['RCFD1294'].fillna(0)+df['RCFD1293'].fillna(0)+df['RCFD1298'].fillna(0)+
                            df['RCFDG300'].fillna(0)+df['RCFDG303'].fillna(0)+df['RCFDG304'].fillna(0)+df['RCFDG307'].fillna(0)+
                            df['RCFDG312'].fillna(0)+df['RCFDG315'].fillna(0)+df['RCFDG316'].fillna(0)+df['RCFDG319'].fillna(0)+
                            df['RCFDG324'].fillna(0)+df['RCFDG327'].fillna(0),
                            df['RCFD1289'].fillna(0)+df['RCFD1294'].fillna(0)+df['RCFD1293'].fillna(0)+df['RCFD1298'].fillna(0)+
                            df['RCFDG300'].fillna(0)+df['RCFDG303'].fillna(0)+df['RCFDG304'].fillna(0)+df['RCFDG307'].fillna(0)+
                            df['RCFDG312'].fillna(0)+df['RCFDG315'].fillna(0)+df['RCFDG316'].fillna(0)+df['RCFDG319'].fillna(0) 
# Missing here RCFDK142 and RCFDK145.
                            )
                            )
)

In [ ]:
df['Interest Income Safe Securities'] = np.where(df['Date'].dt.year<2001, df['RIAD4027'], df['RIADB488'])
df['Equity Issuance'] = np.where(df['Date'].dt.year<2001, df['RIAD4346'].fillna(0)+df['RIADB510'].fillna(0), 
                                 df['RIADB509'].fillna(0)+df['RIADB510'].fillna(0))

In [ ]:
# Derived variables:
df['Loans (RW Assets) to Assets'] = df['Risk-Weighted Assets']/df['Total Assets']
df['Cash and Securities to Assets'] = 1 - df['Loans (RW Assets) to Assets']
df['Capital Ratio (risk-weighted)'] = df['Tier 1 Capital']/df['Risk-Weighted Assets']
df['Equity to Assets'] = df['Tier 1 Capital']/df['Total Assets']
df['Deposits to Assets'] = 1 - df['Equity to Assets']
df['Interest Return on Loans'] = df['Interest Income Loans']/df['Loans']
df['Interest Cost Deposits'] = df['Interest Exp. Deposits']/df['Deposits']
df['Loan Interest Margin'] = df['Interest Income Loans']-df['Interest Exp. Deposits']
df['Cost Fed Funds'] = df['Interest Exp. FedFunds']/df['Federal Funds Purchased']
df['Charge Off Rate Loans']  = (df['Charge Off Loans']-df['Recovery Loans'])/df['Loans']
df['Delinquency Rate Loans'] = (df['Loans Non-Accrual']+df['Loans Past Due 90 Days'])/df['Loans']
df['Safe Securities'] = df['US Treasury Securities']+df['US Agency Obligations']
df['Cost of Funds'] = (df['Interest Exp. Deposits']+df['Interest Exp. FedFunds'])/(df['Deposits']+df['Federal Funds Purchased'])
df['Interest Return on Safe Assets'] = df['Interest Income Safe Securities'] / df['Safe Securities']
df['Return Safe Securities'] = df['Interest Return on Safe Assets'] - df['Cost of Funds']
df['Return on Loans'] = df['Interest Return on Loans'] - df['Charge Off Rate Loans']

In [ ]:
# keep only the variables we created/renamed:
df = df[['Date', 'Year', 'Quarter', 'Financial Institution Name', 'IDRSSD', 'Total Assets', 'Loans', 'Deposits', 
         'Loans Non-Accrual', 'Loans Past Due 90 Days', 'Cash', 'Interest Income Loans', 'Dividends', 
         'Interest Exp. Deposits', 'Interest Exp. FedFunds', 'Charge Off Loans', 'Recovery Loans', 
         'Total Expenses', 'Expenses on premises and fixed assets', 'Labor expenses', 'Total Non-interest Income', 
         'Federal Funds Purchased', 'Tier 1 Capital', 'Risk-Weighted Assets', 'Other Borrowings', 'FedFunds Sold', 
         'US Treasury Securities', 'US Agency Obligations', 'Interest Income Safe Securities', 'Equity Issuance', 
         'Loans (RW Assets) to Assets', 'Cash and Securities to Assets', 'Capital Ratio (risk-weighted)', 
         'Equity to Assets', 'Deposits to Assets', 'Interest Return on Loans', 'Interest Cost Deposits', 
         'Loan Interest Margin', 'Cost Fed Funds', 'Charge Off Rate Loans', 'Delinquency Rate Loans', 
         'Safe Securities', 'Cost of Funds', 'Interest Return on Safe Assets', 'Return Safe Securities', 
         'Return on Loans']]

Recall that plenty of the variables computed here are ratios. So if some banks have a zero for the denominator, those ratios would explode.

## M&A Merges

In [ ]:
df2 = df.copy()

In [ ]:
transformations = pd.read_csv('C:/Users/angel/Documents/Economics/Research/Banking Project/data/clean/CSV_TRANSFORMATIONS.csv')

transformations['DT_TRANS'] = transformations['DT_TRANS'].astype(str)

transformations['Year'] = transformations['DT_TRANS'].str[:4]
transformations['Month'] = transformations['DT_TRANS'].str[4:6]
transformations['Day'] = transformations['DT_TRANS'].str[6:8]
transformations['Transaction Date'] = pd.to_datetime(transformations['Year'] + '-' + transformations['Month'] + '-' + transformations['Day'])

# drop the Month, Day, and Year columns:
transformations.drop(['Year', 'Month', 'Day'], axis=1, inplace=True)

# Rename #ID_RSSD_PREDECESSOR to IDRSSD Predecessor:
transformations.rename(columns={'#ID_RSSD_PREDECESSOR':'IDRSSD Predecessor',
                                'ID_RSSD_SUCCESSOR': 'IDRSSD Successor', 
                                'TRNSFM_CD': 'Transformation Code'}, inplace=True)

# make those columns integers:
transformations['IDRSSD Predecessor'] = transformations['IDRSSD Predecessor'].astype(int)
transformations['IDRSSD Successor'] = transformations['IDRSSD Successor'].astype(int)

transformations = transformations[['Transaction Date', 'IDRSSD Predecessor', 'IDRSSD Successor', 'Transformation Code']]

In [ ]:
df_predecessor = pd.merge(df2, transformations, left_on='IDRSSD', right_on='IDRSSD Predecessor', how='left')
df_successor = pd.merge(df2, transformations, left_on='IDRSSD', right_on='IDRSSD Successor', how='left')