In [9]:
# Load packages
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
path = 'C:/Users/angel/Documents/Economics/Research/Banking Project/data/intermediate/sod'

# Set path to be the directory:
os.chdir(path)

In [91]:
# Load the data:
sod = pd.read_csv('sod_data.csv', header=0, sep=',')

C:\Users\angel\AppData\Local\Temp\ipykernel_6216\541341183.py:2: DtypeWarning: Columns (13,28,50,59,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  sod = pd.read_csv('sod_data.csv', header=0, sep=',')

In [92]:
# show columns 13,28,50,59,60,62:
cols = [13,28,50,59,60,62]
sod.iloc[:,cols].head()

,DEPSUMBR,NECNAMB,ASSET,DEPDOM,DEPSUM,ESCROW
0,7563,NaN,3014436,2054512,0,NaN
1,2377,NaN,3014436,2054512,0,NaN
2,33490,"Bangor, ME",3014436,2054512,0,NaN
3,20391,"Augusta, ME",3014436,2054512,0,NaN
4,38465,"Portland-South Portland-Biddeford, ME",3014436,2054512,0,NaN

In [93]:
# Specify dtypes for col 13, 28, 50, 59, 60, 62:
sod.iloc[:,cols].dtypes

DEPSUMBR    object
NECNAMB     object
ASSET       object
DEPDOM      object
DEPSUM      object
ESCROW      object
dtype: object

In [94]:
# Remove commas, handle errors, and convert to numeric:
sod['DEPSUMBR'] = pd.to_numeric(sod['DEPSUMBR'].str.replace(',', ''))

In [104]:
# Value in USD
print('Deposits in 2022:', sod[sod['YEAR']==2022]['DEPSUMBR'].sum())

Deposits in 2022: 18141021926.0

In [123]:
sod[sod['NAMEFULL'] == 'Morgan Stanley Bank, National Association']['SPECDESC']

1398238    ALL OTHER > $1 BILLION
1500243    ALL OTHER > $1 BILLION
1598128    ALL OTHER > $1 BILLION
1696340    ALL OTHER > $1 BILLION
1792735    ALL OTHER > $1 BILLION
1887848    ALL OTHER > $1 BILLION
1981403    ALL OTHER > $1 BILLION
2073389    ALL OTHER > $1 BILLION
2163455    ALL OTHER > $1 BILLION
2251864    ALL OTHER > $1 BILLION
2338397    ALL OTHER > $1 BILLION
2423571    ALL OTHER > $1 BILLION
2505586    ALL OTHER > $1 BILLION
2585023    ALL OTHER > $1 BILLION
2663126    ALL OTHER > $1 BILLION
Name: SPECDESC, dtype: object